div#show-all {
  overflow: scroll;
  border: red solid 20px;
  border-radius: 15px;
  height: 92.5%;
}

html, body {
  height: 100%;
}

body {
  /*position: fixed;*/
  /*z-index: 999;*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*box-sizing: border-box;*/
  min-height: 90%;
  max-height: 90%;
}

select {
  width: 268px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  height: 34px;
}

#artwork {
  width: 49%;
}

#stats {
  width: 49%;
  font-size: 20px;
}

.body div {
  display: inline-block;
  vertical-align: middle;
}

