<h1>All Pokemon</h1>

<form action="/pokemon/show" method="GET">
<select>
  <option value='name' selected>Pick A Pokemon</option>
  <% @pokemons.each do |pokemon| %>
  <option value='name' type='text' name="name"> <%= pokemon.name.capitalize %> </option>
  <% end %>
</select>
<input type="submit" value="...I Choose You!"><br>
</form>

<a href="/user/registration">Register</a>
<a href="/user/login">Login</a>
<a href = "/user/logout">Logout</a>
