<h1>Welcome back, <%= @user.name %></h1>

<%# @user.pokemons.each do |animals| %>
    <li><%#= animals.name %></li>
<%# end %>


<a href="/pokemon/pokemon">Pokemon</a>
<a href = '/user/logout'>logout</a>
