<center>
<body id="register">
<h1>Register</h1>

<% if @errors && @errors.any? %>
  <% @errors.each do |error| %>
    <span><%= error %></span>
  <% end %>
<% end %>

<form action="/user/registration" method="POST">
  <label>Username</label>
    <input type="text" name="user[name]">
  <label>Email</label>
    <input type="text" name="user[email]">
  <label>Password</label>
    <input type="password" name="user[password]">
  <input type="submit" value="Register">
</form>

<a href="/user/login">Login</a>
<a href="/pokemon">Pokemon</a>
</body>
</center>
